.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}
.text-center {
    text-align: center;
}

.align-items-center {
    align-items: center;
}
.form-group{
    margin: 10px 0px;
}
.form-control{
    padding: 10px;
    outline: none;
    display: inline-block;
    margin-right: 5px;
}
input.form-control{
    padding: 10px 20px;
    width: 300px;
}
